<%=render 'shared/errors', obj: @user %>

<div class="well col-md-8 col-md-offset-2">
    <%= form_for @user, :html => {:class => "form-horizontal"} do |m| %>
        <fieldset>
          <div class="control-group">
            <%= m.label :name  %>
            <div class="controls">
              <%= m.text_field :name, :size=>70 %>
            </div>
          </div>
          <div class="control-group">
            <%= m.label :email %>
            <div class="controls">
              <%= m.text_field :email, :size=>70%>
            </div>
          </div>
          <div class="control-group">
            <%= m.label :password %>
            <div class="controls">
              <%= m.password_field :password, :size=>70%>
            </div>
          </div>

          <div class="form-actions">
          <%=m.submit(@user.new_record? ? 'Register' : 'Edit Profile' , class: "btn btn-primary") %>
          </div>
        </fieldset>
    <% end %>
  
</div>

