<div class="jumbotron text-center">
   <h1>Webdesigner</h1>
   <p>We specialize in Website Design</p>

     <%= link_to "Sign Up!", register_path , class: "btn btn-default btn-lg" %>
 </div>

<div id="about" class="container-fluid">
 <div class="row">
 <div class="col-md-8">
<h4>WEBSITE DEVELOPMENT & ONLINE MARKETING SERVICES</h4><br/>
<p>This is the beautiful website through Ruby On Rails 
Our  Web Design has been providing professional website development and website hosting services since 2015. We are located in Jaipur and Delhi, Chandigarh and offer a free one-hour in person consultation in the Twin Cities, Delhi area.
Out of state? No problem! While our offices are located in Jaipur, we work with clients throughout the India , Canada, Australia, and Europe. For more than 2 years, we have been able to offer one-on-one attention to each individual we work with, and we take pride in our fast turnaround on website development projects and website maintenance.</p><br/>

</div>
<div class="col-md-4">
	<span><%= image_tag("images.png", :alt => "home image") %></span>
</div>
</div>
</div>

<div class="container-fluid  text-center bg-grey">
 <h2>Portfolio</h2>
 <h4>What we have created so far</h4>
<div class ="row text-center ">
<div class="col-sm-4">
<div class="thumbnail">
<%=image_tag("images.jpg",:alt=>"" ) %>
<p><strong>Human Resources</strong></p>
<p>We have create Human Resource Team</p>
</div>
</div>

<div class="col-sm-4">
<div class="thumbnail">
<%=image_tag("download.jpg",:alt=>"" ) %>
<p><strong>Business Analyst</strong></p>
<p>We have create Business Analyst Team</p>
</div>
</div>

<div class="col-sm-4">
<div class="thumbnail">
<%=image_tag("images (1).png",:alt=>""  ) %>
<p><strong>Digital Marketing</strong></p>
<p>We have create Digital Marketing Team</p>
</div>
</div>
</div>
</div>

<hr/>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="footer-block text-center">
					<p class="copyright">
						© 2016 Designer Hub. All rights reserved.
					</p>
				</div>
			</div>
		
		</div>
	</div>
</footer>